.body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 20px;
    align-content: center;
    justify-content: center;
}
.justify{
    width: 90%;
}
.sort-icon{
    font-size: 18pt;
    border-radius: 7px;
    padding: 5px;
    background: #ce3f71;
    color: #fff;
}
.responsive{
    width: 100%;
    overflow-x:scroll;
}
